<div class="hero">
  <div class="content">

    <h1 class="header">
      <div class="relative">
        <div>
          <span class="gradient-text-blue">Problem solver.</span>
          <br/>
          <span class="gradient-text-purple">Software Engineer.</span>
          <br/>
          <span class="gradient-text-orange">Data explorer.</span>
        </div>
      </div>
    </h1>

    <p class="subheader">
      Software engineer specializing in backend development.
      <br/>
      Passionate about solving complex problems, currently obsessed with

      <a href="https://flight-visualizer.com" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        flight-visualizer.com.
      </a>
    </p>

    <a class="github-button" href="https://github.com/Erijl"
       data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large"
       aria-label="Follow @Erijl on GitHub">Follow &#64;Erijl</a>
  </div>
</div>

<div class="footer">
  <a href="mailto:info@erijl.de">Contact me</a>
</div>
