<div class="hero">
  <div class="content">

    <h1 aria-label="Develop. Preview. Ship." class="hero-title">
      <span class="animated-gradient-text-background animated-gradient-text_background-1"
            style="--content:'Problem solver.';--start-color:var(--item-one-start-gradient);--end-color:var(--item-one-end-gradient)">
        <span class="animated-gradient-text-foreground animated-gradient-text_foreground-1">Problem solver.</span>
      </span>
      <span class="animated-gradient-text-background animated-gradient-text_background-2"
            style="--content:'Software Engineer.';--start-color:var(--item-two-start-gradient);--end-color:var(--item-two-end-gradient)">
        <span class="animated-gradient-text-foreground animated-gradient-text_foreground-2">Software Engineer.</span>
      </span>
      <span class="animated-gradient-text-background animated-gradient-text_background-3"
            style="--content:'Data explorer.';--start-color:var(--item-three-start-gradient);--end-color:var(--item-three-end-gradient)">
        <span class="animated-gradient-text-foreground animated-gradient-text_foreground-3">Data explorer.</span>
      </span>
    </h1>

    <p class="subheader">
      Software engineer specializing in backend development.
      <br/>
      Passionate about solving complex problems, currently obsessed with

      <a href="https://flight-visualizer.com" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        flight-visualizer.com
      </a>
    </p>


  </div>
</div>
<!--
<div class="footer">
  <a href="mailto:info@erijl.de">Contact me | </a><a href="/3rdpartylicenses.txt">Licenses</a>
</div>
-->
