<div class="hero">
  <div class="content">
    <h1 aria-label="Problem solver. Software Engineer. Data explorer." class="hero-title">
      <span class="animated-gradient-text-background animated-gradient-text_background-1"
            style="--content:'Problem Solver.';--start-color:var(--item-one-start-gradient);--end-color:var(--item-one-end-gradient)">
        <span class="animated-gradient-text-foreground animated-gradient-text_foreground-1">Problem Solver.</span>
      </span>
      <span class="animated-gradient-text-background animated-gradient-text_background-2"
            style="--content:'Software Engineer.';--start-color:var(--item-two-start-gradient);--end-color:var(--item-two-end-gradient)">
        <span class="animated-gradient-text-foreground animated-gradient-text_foreground-2">Software Engineer.</span>
      </span>
      <span class="animated-gradient-text-background animated-gradient-text_background-3"
            style="--content:'Data Explorer.';--start-color:var(--item-three-start-gradient);--end-color:var(--item-three-end-gradient)">
        <span class="animated-gradient-text-foreground animated-gradient-text_foreground-3">Data Explorer.</span>
      </span>
    </h1>

    <p class="subheader">
      Software engineer specializing in backend development.
      <br/>
      Genuinely passionate about solving complex problems and learning!

      Currently obsessed with
      <a href="https://flight-visualizer.com" target="_blank" rel="noopener noreferrer"
         class="current-project">
        flight-visualizer.com
      </a>
    </p>

    <a href="https://github.com/Erijl" target="_blank" rel="noopener noreferrer">
      <span class="github-button">
        <svg aria-hidden="true" height="24" viewBox="0 0 16 16" width="24">
          <path fill-rule="evenodd"
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
        </svg>
        Follow Erijl
      </span>
    </a>
  </div>

  <footer class="footer">
    <a href="mailto:info@erijl.de" class="footer-link">Contact Me</a>
    <span class="footer-link"> | </span>
    <a href="/3rdpartylicenses.txt" class="footer-link">Licenses</a>
  </footer>
</div>
