.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  text-align: center;
  color: #f5f5f5;
}

.header {
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: -.06em;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.subheader, a {
  font-size: 1rem;
  line-height: 1.75;
  color: #9ca3af;
}

.footer {
  position: fixed;
  top: 97vh;
  left: 46.5vw;
  flex-grow: 1;
  text-align: center;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: #f5f5f5;
}

.footer a {
  color: inherit;
}

.gradient-text-blue,
.gradient-text-purple,
.gradient-text-orange {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.05em;
  position: relative;
  display: inline-block;
  user-select: none;
  z-index: 1;
}

.gradient-text-blue {
  background-image: linear-gradient(90deg, rgb(0, 124, 240), rgb(0, 223, 216));
  animation: fadeBlue 8s infinite;
  z-index: 0;
}

.gradient-text-purple {
  background-image: linear-gradient(90deg, rgb(121, 40, 202), rgb(255, 0, 128));
  animation: fadePurple 8s infinite;
}

.gradient-text-orange {
  background-image: linear-gradient(90deg, rgb(255, 77, 77), rgb(249, 203, 40));
  animation: fadeOrange 8s infinite;
}


@keyframes fadeBlue {
  0%, 16.667%, to {
    opacity: 1;
  }
  33.333%, 83.333% {
    opacity: 0;
  }
}

@keyframes fadePurple {
  0%, to {
    opacity: 0;
  }
  33.333%, 50% {
    opacity: 1;
  }
  16.667%, 66.667% {
    opacity: 0;
  }
}

@keyframes fadeOrange {
  0%, 50%, to {
    opacity: 0;
  }
  66.667%, 83.333% {
    opacity: 1;
  }
}
